*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

        .container{
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            width: 350px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h1{
            margin-bottom: 20px;
            text-align: center;
        }

        .campo{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        label{
            margin-bottom: 5px;
            font-weight: bold;
        }

        input{
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button{
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover{
            opacity: 0.9;
        }